.back-to-top {
    z-index: 10;
    position: fixed;
    bottom: 30px;
    right: 60px;
}

.scroll-none {
    opacity: 0;
    visibility: hidden;
}

.back-to-top a {
    background-color: var(--marigold);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    z-index: 1;
    
}

.back-to-top svg {
    color: var(--raisin-black-2);
    font-size: 60px;
}



/* BreakPoints */

@media only screen and (max-width: 992px){
    .back-to-top svg {
        font-size: 40px;
    }

    
}


@media only screen and (min-width: 260px) {
    .back-to-top {
        right: 15px;

    }
}