.section-common-dota2 {
    background:url('../assets/2022/images/dota.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
    opacity: 0.3;
}