.live-match {
    z-index: 1;
    position: relative;
    background-color: white;
}

.live-match::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background-image: url('../assets//2022//images/section-wrapper-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.live-match::before {
    height: 72%;
}

.live-match-box {
    position: relative;
    margin-right: 20px;
    box-shadow: var(--shadow-1);
}

.live-match-banner {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}

.img-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-title {
    margin-block-end: 90px;
     color: white;
     font-family: var(--font-Sans-Pro);
     font-weight: 700;
}


/* BreakPoints */

@media only screen and (max-width: 768px){
    .live-match-box2 {
        height: 250px !important;
        width: 380px !important;
    }

    .live-match-box {
        right: 2%;
    }
}