.live-match {
    z-index: 1;
    position: relative;
    background-color: white;
    
}

.live-match::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background-image: url('../assets//2022/images/section-wrapper-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
   
}

.live-match::before {
    height: 61.2%;
}

.live-match-box {
    position: relative;
    margin-right: 20px;
    box-shadow: var(--shadow-1);
}

.live-match-banner {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}

.img-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-title {
    margin-block-end: 90px;
     color: white;
     font-family: var(--font-Sans-Pro);
     font-weight: 700;
}




/* BreakPoints */

@media screen and (max-width: 320px) {
    .live-match-box2 {
        width: 100%;
        height: 170px !important;
    }
}

@media screen and (max-width: 375px) {
    .live-match-box2 {
        width: 350px;
        height: 185px !important;
    }

    .live-match-box {
        margin-right: 0px;
    }
}

@media screen and (max-width: 400px) {
    .live-match-box2 {
        width: 100%;
        height: 205px;
    }

    .live-match-box {
        margin-right: 0px;
    }
}

@media screen and (max-width: 425px) {
    .live-match-box2 {
        height: 220px;
        width: 100%;
    }

    .live-match-box {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    /* .live-match-box2 {
        height: 400px;
    } */

    .live-match-box {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1398px) {
    .live-match-box2 {
        width: 100%;
        /* height: auto; */
    }
}



@media screen and (min-width: 1400px) {
    .live-match-box2 {
        height: 690px !important;
        width: 1275px !important;
    }
}

/* @media screen and (max-width: 576px) {
    .live-match-box2 {
        width: auto;
        height: auto;
    }
} */
