.live-match {
    z-index: 1;
    position: relative;
    background-color: white;
    
}

.live-match::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57%;
    background-image: url('../assets//2022/images/section-wrapper-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
   
}

.live-match::before {
    height: 61.2%;
}

.live-match-box {
    position: relative;
    margin-right: 20px;
    box-shadow: var(--shadow-1);
}

.live-match-banner {
    padding-top: 100px;
    align-items: center;
    justify-content: center;
}

.img-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-title {
    margin-block-end: 90px;
     color: white;
     font-family: var(--font-Sans-Pro);
     font-weight: 700;
}

.live-match-box2 {
    height: auto !important;
    width: 1980px !important;
}


/* BreakPoints */

@media only screen and (min-width: 768px){
    .live-match-box2 {
        height: 395px !important;
        width: 675px !important;
    }

    .live-match-box {
        right: 0%;
        margin-right: 0;
    }

}

@media only screen and (min-width: 600px) {
    /* .live-match-box2 {
        height: 205px !important;
        width: 345px !important;
    } */

    .live-match-box {
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
}


@media only screen and (max-width: 260px) {
    .live-match-box2 {
        height: 120px !important;
        width: 215px !important;
    }
}

@media only screen and (max-width: 575.98px) {
    .live-match-box2 {
        height: 210px !important;
        width: 345px !important;
    }

    .live-match-box {
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }
}

@media screen and (min-width: 319px) {
    .live-match-box2 {
        width: 275px !important;
        height: 155px !important;
    }
}

@media screen and (min-width: 374.95px) {
    .live-match-box2 {
        height: 220px !important;
        width: 330px !important;
    }
}

@media screen and (min-width: 390px){
    .live-match-box2 {
        width: 345px !important;
        height: 200px !important;
    }
} 

@media screen and (min-width: 414px) {
    .live-match-box2 {
        height: 220px !important;
        width: 370px !important;
    }
}




@media screen and (min-width: 1024px) {
    .live-match-box2 {
        height: 510px !important;
        width: 915px !important;
    }
}



@media screen and (max-width: 1439){
    .live-match-box2 {
        width: 1275px !important;
        height: 720px !important;
    }
}

@media screen and (min-width: 1440px) {
    .live-match-box2 {
        width: 1275px !important;
        height: 725px !important;
    }
}
