.live-match-teams {
    position: relative;
    padding-block-start: 120px;
}


.live-match-teams::after {
    content: 'LIVE';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-size: 20rem;
    font-weight: 600;
    color: var(--cultured-2);
    z-index: -1;
    font-family: var(--font-Sans-Pro );
}

.match-teams img {
    width: 100px;
    object-fit: cover;
    height: auto;
}

.match-teams img {
    width: 100% !important;
}


.live-match-teams .teams-logo {
    max-width: max-content;
}

.live-match-teams .teams-logo-2 {
    margin-inline-start: auto;
    max-width: max-content;
}

.live-match-details {
    margin-block:-215px;
}

.live-match-subtext {
    background-color: var(--marigold);
    color: white;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 4px 20px;
    max-width: max-content;
    margin-inline: auto;
    margin-block-end: 30px;

}

.live-match-time {
    color: var(--xiketic);
    font-size: 2rem;
    font-weight: 700;
    max-width: max-content;
    margin-inline: auto;
    line-height: 1;
}

.live-match-schedule {
    color: var(--xiketic);
    font-size: 2rem;
    font-weight: 700;
    max-width: max-content;
    margin-inline: auto;
    line-height: 1;
    margin-top: 40px;
}


/* BreakPoints */

@media only screen and (max-width: 1024px) {
    .live-match-details {
        margin-block: -225px;
    }

    .match-teams img {
        height: 170px !important;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .teams-logo, .teams-logo-2 {
        height: 110px !important;
    }

    .match-teams img {
        width: 90px !important;
        height: 90px !important;
    }

    .live-match-subtext {
        font-size: 0.4rem !important;
        padding: 0px 5px !important;

    }

    .live-match-schedule {
        margin-top: 3px !important;
        font-size: 0.4rem !important;
    }

    .live-match-time {
        margin-top: -6px !important;
        font-size: 0.4rem !important;
    }

    .live-match-teams {
        padding-block-start: 15px !important;
    }
}


@media screen and (max-width: 375px) {
    .match-teams img {
        height: 100px !important;
    }
}

@media screen and (max-width: 425px) {
    .teams-logo, .teams-logo-2 {
        height: 0px;
    }

    .match-teams img {
        height: 90px !important;
        width: 90px !important;
    }
}





@media screen and (max-width: 768px) {
    .live-match-teams::after {
        font-size: 5rem;

    }

    .live-match-teams {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .live-match-details {
        margin-block: 0;
    }

    /* .match-teams img {
        width: 100px !important;
    } */

    .live-match-subtext {
        font-size: 0.7rem;
        margin-block-end: 0;
        text-align: center !important;
        letter-spacing: 0 !important;
        padding: 1px 5px !important;
    }

    .live-match-schedule {
        font-size: 0.7rem;
        text-align: center;
        align-items: center;
        margin-top: 15px;
    }

    .teams-logo,
    .teams-logo-2 {
        height: 120px;
    }

    .teams-logo-2 {
        width: auto !important;
    }

    .live-match-time {
        font-size: 0.7rem;
        text-align: center;
        align-items: center;
        margin-top: -5px;
    }

    .live-match-teams {
        padding-block-start: 50px;
    }

}

@media only screen and (max-width: 575.98) {
    .live-match-teams .teams-logo-2 {
        margin-inline-start: auto;
    }

    .match-teams img {
        width: 55px !important;
        height: auto !important;
    }

    .live-match-subtext {
        font-size: 0.5rem;
        margin-block-end: -10px;
        padding: 0px 2px !important;
    }

    .live-match-schedule {
        margin-top: 25px;
    }

    .live-match-time {
        margin-top: 10px;
    }
}


@media screen and (max-width: 1390px) {
    .match-teams img {
        width: 100px !important;
    }
}