.match-section {
    padding-block-start: 120px;
}

.match-title {
    color: white;
    font-family: var(--font-Sans-Pro);
    font-weight: 600;
    line-height: 1;  
}


strong {
    font-weight: 600;
    font-family: var(--font-Inter);
}


.match {
    display: flex;
    background-color: var(--cultured-2);
    flex-direction: column;
    margin-top: 90px;
    max-width: 970px;
    border-radius: 10px;
    box-shadow: var(--shadow-1);
    justify-content: center;
    margin-left: 160px;
    align-content: center;
}

.match-header {
    padding: 14px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid var(--raisin-black-1);
}

.match-status {
    color:white;
    background-color: var(--marigold);
    border-radius: 6px;
    padding: 8px 12px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    margin-right: auto;   
}

.match-status::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 8px;
}

.match-tournament {
    display: flex;
    align-items: center;
    font-weight: 600;
    /* border-bottom: 1px solid var(--raisin-black-3); */
}

.match-tournament img {
    width: 30px;
    margin-right: 10px;
}

.match-actions {
    display: flex;
    margin-left: auto;
}

.match-icons {
    border: none;
    background-color: transparent;
    color: black;
    margin-left: 20px;
}

.match-actions .match-icons svg:hover {
    color: var(--marigold_75);
}

.match-content {
    display: flex;
    position: relative;
    z-index: 1;
}

.match-content::before {
    content: 'SCHEDULE';
    font-size: 10rem;
    z-index: -1;
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-weight: 600;
    color: black;
    font-family: var(--font-Sans-Pro );
    opacity: 0.1;
}

.match-column {
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
}

.matches-team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matches-team img {
    width:100px;
}

.match-logo-team {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 4px 0 rgba(rgba(#303030, 0.15));
}


.match-logo-team img {
    width: 150px;
}

.team-name {
    font-family: var(--font-Rubik-Mono);
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

.match-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.match-date {
    font-size: 18px;
    font-weight: 600;
    color: var(--raisin-black-1);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.match-date strong {
    color: var(raisin-black-1);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.match-score {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.match-score-number {
    font-size: 48px;
    font-weight: 600;
    font-family: var(--font-Inter);
    line-height: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.match-score-divider {
    font-size: 30px;
    font-weight: 600;
    font-family: var(--font-Inter);
    margin-left: 10px;
    margin-right: 10px;
    color: var(--raisin-black-1);
}

.match-live-streams {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 6px;
    padding: 0px 40px;
    color: transparent;
    border: 1px solid var(--marigold);
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(rgba(#303030, 0.25));
    background-color: var(--cultured-2);
    margin-right: 5px;
}

.match-live-streams svg {
    font-size: 40px;
    color: black;
    margin-bottom: 0px;
}

.match-live-streams svg:hover {
    color: var(--marigold);
}


/* BreakPoints */

@media only screen and (max-width: 768px) {
    .match-section {
        padding-block-start: 30px;
    }

    .match {
        margin-top: 80px;
        margin-left: 0;
    }

    .match-tournament img {
        width: 15px;
        margin-right: 5px;
    }

    .match-status {
        font-size: 10px;
        
    }
}




