.news {
    background-color: white;
}

.news .section-subtext-news {
    color: var(--dim-gray);
    margin-block: 50px 60px;
    text-align: center;
    align-items: center;
}

.news-list {
    display: flex;
    gap: 50px;
}

.news-card .card-banner {
    margin-block-end: 30px; 
}

.news-card .card-meta-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.news-card .card-meta-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--quick-silver);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.news-card .card-meta-item a.item-text {
    transition: var(--transition);
}

.news-card .card-meta-item a.item-text:is(:hover, :focus) {
    color: var(--marigold);
}

.news-card .card-title {
    color: var(--quick-silver);
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    margin-block: 10px 15px;
    transition: var(--transition);
}

.card-text {
    color: var(--raisin-black-3);
}

.card-link,
.card-link svg {
    color: var(--marigold);
}

.card-link:hover,
.card-link svg:hover {
    color: var(--raisin-black-3);
}

/* BreakPoints */

@media only screen and (max-width: 768px) {
    .news .card-banner img {
        width: 335px !important;
        height: 300px !important;
        margin-left: -15px;
    }

    .news-card-content {
        margin-left: -15px;
    }

    .card-text {
        text-align:justify;
        
    }

    .card-banner {
        background-color: transparent !important;
    }

    .news-card .card-meta-item {
        letter-spacing: 1px;
        margin-right:30px;
        margin-left: -30px;
    }

    .news-card-content {
        margin-right: 10px;
    }

    .news-list {
        display: grid;
    }
}
@media only screen and (max-width: 330px){
    .news-list {
        grid-template-columns:repeat(1, 1fr);
        justify-content: center;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .news .news-card img {
        width: 300px !important;
        height: 300px !important;
    }

    .news .card-banner img {
        width: 300px !important;
        height: auto;
    }

    .news-card {
        margin-left: -35px !important;
    }

    .card-banner {
        background-color: transparent !important;
    }

    .card-text {
        font-size: 18px;
        align-items: center;
        justify-content: center;
        text-align: justify;
        display: flex;
        color: var(--raisin-black-3);
    }

    .news-card .card-meta-item {
        letter-spacing: 0;
        margin-right: 30px;
        margin-left: -30px;
    }


    .card-link,
    .card-link svg {
        font-size: 18px;
        color: var(--marigold);
    }
    
}

@media only screen and (max-width: 330px) {

}


