.news {
    background-color: white;
}

.news .section-subtext-news {
    color: var(--dim-gray);
    margin-block: 50px 60px;
    text-align: center;
    align-items: center;
}

.news-list {
    display: flex;
    gap: 50px;
}

.news-card .card-banner {
    margin-block-end: 30px; 
}

.news-card .card-meta-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.news-card .card-meta-item {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--quick-silver);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.news-card .card-meta-item a.item-text {
    transition: var(--transition);
}

.news-card .card-meta-item a.item-text:is(:hover, :focus) {
    color: var(--marigold);
}

.news-card .card-title {
    color: var(--quick-silver);
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1.2;
    margin-block: 10px 15px;
    transition: var(--transition);
}



/* BreakPoints */
@media only screen and (max-width: 768px){
    .news-list {
        grid-template-columns:repeat(1, 1fr);
        justify-content: center;
        display: grid;
        align-items: center;
        justify-items: center;
    }

    .news .news-card img {
        width: 350px !important;
        height: 300px !important;
    }

    .news .card-banner {
        width: 350px !important;
        height: 300px !important;
        padding-right: 20px !important;
    }

    .news-card {
        padding-right: 35px !important;
    }
}


