.section-teams {
    background-color: var(--cultured-2);
    /* background-image: url('../assets/2022/images/images-bg.webp'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-block-end: 90px;
    background-attachment: fixed;
}

.img-gradient-teams {
    background-image: linear-gradient(#e66465, #9198e5);
    opacity: 0.9;
}

.section-teams .section-title h2 {
    color: var(--xiketic);
    margin-block-end: 90px;
}

.section-teams .has-scrollbar {
    gap: 5;
}

.section-teams .has-scrollbar {
    margin-inline: -15px;
    padding-inline: 15px;
    scroll-padding-inline-start: 15px;
}

.featured-game-card {
    position: relative;
}

.featured-game-card :is(.card-content, .card-content-overlay) {
    position: absolute;
}

.featured-game-card .card-content {
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    text-align: center;
    padding: 30px 35px;
    transition: var(--transition);
}

.featured-game-card .card-content-text {
    color: white;
    font-size: 30px;
    font-weight: 600;
    top: 50%;
}

.featured-game-card .card-content-overlay {
    inset: 0;
    background-color: var(--marigold_75);
    display: flex;
    top: -495%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* transition: var(--transition); */
    cursor: pointer;
}

.featured-game-card .card-icon {
    font-size: 15px;
}


.card-content-text {
    align-items: center;
    right: 20%;
}


.featured-game-card .card-content-text {
    margin-block-end: 5px;
}

.featured-game-card .card-icon {
    margin-block-end: 5px;
    display: flex;
}

.featured-game-card .card-content-overlay .card-content-text {
    color: var(--cultured-2);
}

.featured-game-card:is(:hover) .card-content {
    opacity: 0;
}

.featured-game-card:is(:hover, :active) .card-content-overlay {
    opacity: 2;
}

.featured-game-card:hover,
.card-content-overlay:hover {
    opacity: 2;
    transition: all .2s ease-in-out;
}

