:root {
  /* Fonts */
  --font-montserrat :'Montserrat', sans-serif;
  --font-Rubik-Mono : 'Rubik Mono One', sans-serif;
  --font-Sans-Pro : 'Source Sans Pro', sans-serif;

  /* Colors */
  --rich-black-fogra-29_95: hsla(222, 18%, 11%, 0.95);
  --raisin-black-1: hsl(0, 0%, 16%);
  --raisin-black-2: hsl(236, 17%, 17%);
  --raisin-black-3: hsl(280, 11%, 11%);
  --raisin-black-4: hsl(280, 8%, 15%);
  --english-violet: hsl(274, 21%, 23%);
  --eerie-black-1: hsl(277, 25%, 10%);
  --eerie-black-2: hsl(280, 7%, 8%);
  --roman-silver: hsl(220, 6%, 59%);
  --quick-silver: hsl(0, 1%, 65%);
  --light-gray-1: hsl(0, 0%, 80%);
  --light-gray-2: hsl(0, 2%, 82%);
  --marigold_75: hsla(42, 99%, 46%, 0.75);
  --xiketic_90: hsla(280, 37%, 8%, 0.9);
  --cultured-2: hsl(0, 0%, 97%);
  --marigold: hsl(42, 99%, 46%);
  --platinum: hsl(0, 0%, 89%);
  --dim-gray: hsl(0, 0%, 42%);
  --white_15: hsla(0, 0%, 100%, 0.15);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --xiketic: hsl(277, 25%, 10%);
  --silver: hsl(0, 0%, 78%);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(236, 13%, 23%);

  /* Gradients */
  --gradient: radial-gradient(circle, hsl(250, 7%, 17%), hsl(250, 11%, 11%));

  /* Box Shadow */
  --shadow-1: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
              inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
  --shadow-2: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.4);
  --shadow-3: 0px 5px 10px 1px hsla(219, 98%, 17%, 0.2);
  --shadow-4: 0px 5px 10px 1px hsla(0, 0%, 0%, 0.15);

  /* Transitions */
  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}


/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Rubik+Mono+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");


/* Font Family CSS */
/* Font-family: 'Montserrat', sans-serif */
/* Font-family: 'Rubik Mono One', sans-serif */


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin:0;
  list-style: none;
}

body {
  background-color: var(--raisin-black-3);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible {outline-offset: 4px;}


section {
  padding: 50px 0px;
}

.section-bg {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.section-bg::after {
  content: url('../src/assets/2022/images/title-underline.png');
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.section-subtext {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  max-width: 65ch;
  margin-inline: auto;
  text-align: center;
  line-height: 1.8;
}


span {
  display: inline-block;
  color: var(--marigold); 
}

.img-holder  {
  aspect-ratio: 800 / 470;
}

.section-title {
  margin-block-end: 90px;
  color: white;
  font-family: var(--font-Sans-Pro);
  font-weight: 700;
  margin-top: 50px;
}


/* 
.skewBg {
  position: relative;
  z-index: 1;
}

.skewBg::before {
  content: '';
  position: absolute;
  inset: 0;
  transform: skewX(var(--skewX, -16deg));
  background-color: var(--bg, var(--marigold));
}

.skewBg::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 8px);
  width: 5px;
  transform: skewX((-16deg) translateX(var(--translateX, 0)));
  background-color: var(--marigold);
  transition: var(--transition);
} */

/* BreakPoints */
@media only screen and (max-width: 768px){
  section {
    padding: 25px 0px;
  }
}
